@font-face {
  font-family: "Big Blue";
  src: url("../assets/fonts/BigBlueTerm437NerdFont-Regular.woff") format("woff"),
    url("../assets/fonts/BigBlueTerm437NerdFont-Regular.woff2") format("woff2");
}

@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

:root {
  --primary-color: #d7e1d7;
  --accent-color: rgb(73, 125, 73);
  --secondary-color: #060d06;
  --project-color: #c2ccc2;
  --header-border: rgba(0, 0, 0, 0.2);
  --box-shadow-color-one: rgba(73, 125, 73, 0.4);
  --box-shadow-color-two: rgba(73, 125, 73, 0.3);
  --box-shadow-color-three: rgba(73, 125, 73, 0.2);
  --box-shadow-color-four: rgba(73, 125, 73, 0.1);
  --box-shadow-color-five: rgba(73, 125, 73, 0.05);
  --filter: invert(37%) sepia(6%) saturate(2921%) hue-rotate(71deg)
    brightness(113%) contrast(92%);
  --filter-invert: invert(76%) sepia(94%) saturate(506%) hue-rotate(336deg)
    brightness(105%) contrast(91%);
}

[data-theme="dark"] {
  --primary-color: #060d06;
  --accent-color: #66cc66;
  --secondary-color: #b8ccb8;
  --project-color: #121b1d;
  --header-border: rgba(255, 255, 255, 0.1);
  --box-shadow-color-one: rgba(27, 188, 96, 0.4);
  --box-shadow-color-two: rgba(27, 188, 96, 0.3);
  --box-shadow-color-three: rgba(27, 188, 96, 0.2);
  --box-shadow-color-four: rgba(27, 188, 96, 0.1);
  --box-shadow-color-five: rgba(27, 188, 96, 0.05);
  --filter: invert(59%) sepia(77%) saturate(447%) hue-rotate(91deg)
    brightness(90%) contrast(101%);
}

* {
  font-family: "Space Mono";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  background-color: var(--primary-color);
}

html {
  font-size: 16px;
  scroll-padding-top: 80px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}
