header {
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  z-index: 2;
}

.section-hero {
  display: flex;
  justify-content: center;
}

.section-about {
  display: flex;
  justify-content: center;
}
